.Axway-Help-Text {
    display: flex;
    justify-content: flex-start;
    position: relative;
    cursor: default;
}

.Axway-Help-Text p {
    opacity: 0;
    transition: opacity 0.6s;
    position: absolute;
    padding: 15px;
    top: 30px;
    z-index: 2;
    pointer-events: none;
}

.Axway-Help-Text:hover p {
    background: #43a7be;
    color: white;
    border-radius: 5px;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    opacity: 1;
    width: 100%;
}

.Axway-Help-Text h4 {
    border-bottom: 1px dotted #222222;
}

.Axway-Help-Text header a {
    text-decoration: none;
}

@media (min-width: 1200px) {
    #sp-page-builder .sppb-section .sppb-col-md-6:nth-child(2n - 1) .Axway-Help-Text {
        justify-content: flex-end;
    }

    #sp-page-builder .sppb-section .sppb-col-md-6:nth-child(2n - 1) .Axway-Help-Text p {
        right: 0;
    }
}